<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032358095771-bmet6kdnpnfr3bjdf53vmeoa99a3bpvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032358095771-bmet6kdnpnfr3bjdf53vmeoa99a3bpvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1032358095771-6as3l5umevga75su0ldec1mqc4e51l6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzlrEyjjmG0QaxwGqdX9IpbsE-VLrEbpw</string>
	<key>GCM_SENDER_ID</key>
	<string>1032358095771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartlock</string>
	<key>PROJECT_ID</key>
	<string>smartlock-c3e93</string>
	<key>STORAGE_BUCKET</key>
	<string>smartlock-c3e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032358095771:ios:203976ce53aae5a5a6cf3e</string>
</dict>
</plist>